$primary: #fbba00;
$primary-light: #ffec4d;
$primary-dark: #c38a00;
$secondary: #334c5d;
$secondary-light: #5f788a;
$secondary-dark: #072433;
$light-background: rgb(255, 255, 242);
$dark-background: rgb(0, 0, 16);